<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481557558534-2fpuem13he1i1em1hcvkvm82qrglclj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481557558534-2fpuem13he1i1em1hcvkvm82qrglclj5</string>
	<key>API_KEY</key>
	<string>AIzaSyC3da1gKA8ZGXbHXC1VVk0BhMdM5FjCmVo</string>
	<key>GCM_SENDER_ID</key>
	<string>481557558534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexacode.miriverbs</string>
	<key>PROJECT_ID</key>
	<string>miri-verbs</string>
	<key>STORAGE_BUCKET</key>
	<string>miri-verbs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481557558534:ios:05936c8cf97c0d0e32da87</string>
</dict>
</plist>